<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Magic Food</title>
    <link rel="icon" type="image/png" href="static/images/miniiconpg.png">
    <link rel="stylesheet" href="static/styles/style1.css">


</head>
<body>
    <header>
        <img class="logopg" src="static/images/logo.png" alt="logo cupcake">

            <div class="textslink">
                <a href="#">Localização</a>
                <a href="#">Contato</a>
                <a href="#">Avaliações</a>
                <a href="static/login.html">Perfil</a>
            </div>
    </header>

    <button class="voltar" onclick="window.location.href='index.html'">← Voltar</button>

    <div class="detalhes-produto">
        <h2 id="nome-produto"></h2>
        <img id="imagem-produto" src="" alt="">
        <p id="descricao-produto"></p>
        <p id="preco-produto"></p>
    </div>

  <script src="static/scripts/sprod.js"></script>
  <script src="static/scripts/sdeta.js"></script>
</body>
</html>