<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Magic Food</title>
    <link rel="icon" href="{{ url_for('static', filename='images/miniiconpg.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/slog.css') }}">
</head>
<body>
    <article>
        <form id="Loginform">
            <h2>Login</h2>
            <p>Digite seu E-mail ou Número de Telefone</p>
            <input type="text" id="emailPhone" placeholder="E-mail ou Telefone" required>

            <p>Digite aqui sua senha</p>
            <input type="password" id="password" placeholder="Senha" required>


            <button type="submit" id="submitBtn">Entrar</button>

            <p id="message"></p>
        </form>
    </article>
    <p class="cadastro">
        Ainda não tem conta? <a href="cad.html">Criar conta</a>
    </p>
    <script src="{{ url_for('static', filename='scripts/slog.js') }}"></script>
</body>
</html>